<!DOCTYPE HTML>
<html lang="en">
    <head>
    <title>Sensor Live Display</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <script src="src/javascript/sensors.js"></script>
    <link rel="stylesheet" href="src/css/main.css">
    <link rel="icon" href="data:,">

    </head>
    <body onload="webSocketConnect();" onunload="webSocket.disconnect();">

        <h1>Sensor Live Display</h1>
        <div id="sensorGrid"></div>
        <br>
        <div id="status">WebSocket: unknown</div>

    </body>
    <footer>version: 0.6.4</footer>
    <!--/ --.- .-. -.-- /-->
</html>
